# Whenever we push a v* tag we make a new release.
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' 
  
jobs:
  # job id, can be anything
  export_editor:
    # Always use ubuntu-latest for this action
    runs-on: ubuntu-latest
    # Job name, can be anything
    name: Export Game Job
    steps:
      - name: checkout
        uses: actions/checkout@v3
        # Ensure that you get the entire project history
        with:
          fetch-depth: 0      
      
      - name: get tag from version
        id: tag_version
        run: |
            echo ::set-output name=TAG_VERSION::${GITHUB_REF#refs/tags/v}

      - name: write version into file
        uses: jacobtomlinson/gha-find-replace@v2
        with:
            find: "## Development Build ##"
            replace: ${{steps.tag_version.outputs.TAG_VERSION}}
            regex: false
            include: AppVersion.cs

      - name: setup godot
        uses: paulloz/godot-action@v1.2
        with:
          version: 3.5
          mono: true
          export-templates: true
      
      - name: export game      
        run: |
          nuget restore
          mkdir -p builds/linux
          godot --export Linux/X11
          mkdir -p builds/osx
          godot --export "Mac OSX"
          mkdir -p builds/windows
          godot --export "Windows Desktop"
          
      - name: zip
        run: |
          mkdir builds/archives
          (cd builds/linux; zip -r ../archives/Linux.zip .)
          (cd builds/windows; zip -r ../archives/Windows.zip .)
          cp builds/osx/openscad-graph-editor.app.zip builds/archives/MacOSX.zip

      - name: create release
        uses: softprops/action-gh-release@v0.1.14
        with:
          tag_name: ${{ steps.tag_version.outputs.TAG_VERSION }}
          files: ./builds/archives/*
          fail_on_unmatched_files: true
          body: See [CHANGES.md](https://github.com/derkork/openscad-graph-editor/blob/master/CHANGES.md) for details.