# Whenever a push is made to the master branch then run the job
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' 

jobs:
  # job id, can be anything
  export_editor:
    # Always use ubuntu-latest for this action
    runs-on: ubuntu-latest
    # Job name, can be anything
    name: Export Game Job
    steps:
      # Always include the checkout step so that 
      # your project is available for Godot to export
      - name: checkout
        uses: actions/checkout@v2.3.1
        # Ensure that you get the entire project history
        with:
          fetch-depth: 0
      - name: get tag from version
        id: tag_version
        run: |
            echo ::set-output name=TAG_VERSION::${GITHUB_REF#refs/tags/v}
      - name: install wine
        id: wine_install
        run: |
          sudo apt install wine64
          echo ::set-output name=WINE_PATH::$(which wine64)
      
      - name: export
        uses: firebelley/godot-export@v4.1.0
        with:
          godot_executable_download_url: https://downloads.tuxfamily.org/godotengine/3.4.4/mono/Godot_v3.4.4-stable_mono_linux_headless_64.zip
          godot_export_templates_download_url: https://downloads.tuxfamily.org/godotengine/3.4.4/mono/Godot_v3.4.4-stable_mono_export_templates.tpz
          wine_path: ${{ steps.wine_install.outputs.WINE_PATH }}
          relative_project_path: ./
          archive_output: true

      - name: list
        env:
          LE_PATH: ${{ steps.export.outputs.archive_directory }}
        run: |
          ls -la $LE_PATH
          find .

      - name: create release
        uses: softprops/action-gh-release@v0.1.14
        with:
          tag_name: ${{ steps.tag_version.outputs.TAG_VERSION }}
          files: ${{ steps.export.outputs.archive_directory }}/*
          fail_on_unmatched_files: true
          body: See [CHANGES.md](https://github.com/derkork/openscad-graph-editor/blob/master/CHANGES.md) for details.